rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedEmail() {
      return request.auth != null && (
        request.auth.token.email == 'informaticaesmn@gmail.com' ||
        request.auth.token.email == 'genarovillar@gmail.com' ||
        request.auth.token.email == 'esmnbedelia@gmail.com' ||
        request.auth.token.email == 'adrianabusina@gmail.com' ||
        request.auth.token.email == 'anismmusica@gmail.com' ||
        request.auth.token.email == 'beamartini001@gmail.com' ||
        request.auth.token.email == 'bedeliaesmn@gmail.com' ||
        request.auth.token.email == 'bedeliaesmneuquen@gmail.com' ||
        request.auth.token.email == 'deborathdiazg@gmail.com' ||
        request.auth.token.email == 'preceptordiegoprice@gmail.com' ||
        request.auth.token.email == 'secretariaesmn20@gmail.com' ||
        request.auth.token.email == 'romanonico@gmail.com'
      );
    }

    match /{document=**} {
      allow read: if isAllowedEmail();
      allow write: if false;
    }
  }
}
